/**/*poetry.lock
/**/*.poetry.lock
/**/*pyproject.toml
/**/*.pyproject.toml
/**/*.replit
/**/*replit
/**/*replit.nix
/**/*.replit.nix
/**/*.idea
/**/*idea
/**/*venv
/**/*__pycache__
/**/*.cpython-311.pyc
/.vscode
/.DS_Store

/**/*.env


/**/*.gitattributes